/* Don't change the existing CSS. */

.box {
  background-color: blue;
  padding: 10px;
}

p {
  color: yellow;
  margin: 0;
  padding: 0;
}

#outer-box {
  background-color: purple;
}

.inner-box {
  background-color: red;
}

p {
  color: yellow;
  padding: 0px;
  margin: 0px;
}

.white-text {
  color: white;
}